div.cap { display: block; height: 100px; width: 40px; background: url("dock-background-left.png") bottom left no-repeat; }

div.cap.left { position: absolute; bottom: 0px; left: 0px; }
div.cap.right { background-position: right bottom; position: absolute; top: 0px; right: 0px; }
ul.osx-dock { display: inline-block; height: 120px; padding: 0 40px 0 0; background: url("dock-background-left.png") no-repeat right bottom; overflow: hidden; margin: 0 0 0 40px; }
ul.osx-dock li { 
	display: block; 
	position: relative; 
	float: left; 
	width: 30px; 
	margin: 60px 0 4px 0; 
	-webkit-transition: 0.15s linear; 
	-webkit-transition-property: -webkit-transform margin; 
	text-align: center;
	padding: 0 2px;
}

ul.osx-dock li a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	text-decoration: none;
	color: #CCC;
	padding: 15px 1px; 
	background: #FFF;
	border: 1px solid #999;
	border-radius: 15px;
	-webkit-transition: 0.15s linear; 
	-webkit-transition-property: -webkit-transform margin; 
	margin: 0;
	-webkit-box-reflect: below 2px
	-webkit-gradient(linear, left top, left bottom, from(transparent),
	color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.osx-dock li.added a {
	color: #666;
}

ul.osx-dock li.added:hover, ul.osx-dock li.added.active {
	margin-left: 9px; 
	margin-right: 9px;
	z-index: 200;
}
ul.osx-dock li.added:hover a, ul.osx-dock li.added.active a {
	color: #000;
	font-weight: bold;
	-webkit-transform-origin: center bottom;
	-webkit-transform: scale(1.5);
}
ul.osx-dock li.added.nearby, ul.osx-dock li.added.active.nearby {
	margin-left: 6px; margin-right: 6px;
	z-index: 100;
}
ul.osx-dock li.added.nearby a, ul.osx-dock li.added.active.nearby a {
	-webkit-transform-origin: center bottom;
	-webkit-transform: scale(1.25);
}

div#dockContainer { position: fixed; bottom: 20px; height: 80px; text-align: center; -webkit-border-radius: 6px; -moz-border-radius: 6px; width: 100%; line-height: 1; z-index: 100; }
div#dockWrapper { width: auto; display: inline-block; position: relative; border-bottom: solid 2px rgba(255,255,255,.35); line-height: 0; }
#dockContainer, #dockContainer * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box 
}